{% extends 'Login/base.html' %}
{% block body_block %}


<div class="jumbotron">
    <h1>{{post_detail.title}}</h1><hr>
    <h5>Author: {{post_detail.author}}</h5><hr>
    <p>{{post_detail.content}}</p>
    <small>Posted on {{post_detail.creation_date}}</small><br>
    <a href="{% url 'Login:delete' pk=post_detail.pk %}" ><button type="button" class="btn btn-danger btn-sm">Delete Post</button></a> &nbsp;
    <a href="{% url 'Login:update' pk=post_detail.pk %}" ><button type="button" class="btn btn-warning btn-sm">Edit Post</button></a>
    <br><br>
    <hr>
    <div>
        <h5 style="color:green;">Comments:</h5>
        <a href="{% url 'Login:add_comment' pk=post_detail.pk %}" style="float: right;" ><button  type="button" class="btn btn-primary btn-sm">Add Comment</button></a>
    {% for comment in post_detail.comments.all %}
        <span style="color:blue;">{{comment.name}}: </span> {{comment.comment_text}}
        <br>
        <small>commented on : {{comment.commented_date}}</small><br>
        <a href="{% url 'Login:update_comment' pk=comment.pk %}" ><button type="button" class="btn btn-warning btn-sm">Edit</button></a> &nbsp;
        <a href="{% url 'Login:delete_comment' pk=comment.pk %}" ><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        <br><br>
    {% endfor %}
    </div>
</div>




{% endblock %}