{% extends 'Login/base.html' %}

{% block body_block %}

    {% if registered %}
        <h1>Thanks for the Registration</h1>
    {% else %}
        <div class="jumbotron">
            <h1>Enter the details for Registration</h1>
            <form class="form-group" method="post" action="{% url 'Login:register' %}">
                {% csrf_token %}
                {% for field in user_form %}
                  <p>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    {% endif %}

{% endblock %}